.container_first{
    position: relative;
    max-height: 800px;
    
}
.container_first *{
    max-height: 800px;
}


.background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.219);
    height: inherit;
}
.image{
    
    height: 800px;
    background-image: url("../img/hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.image1{
    height: 800px;
    background-image: url("../img/hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
.image_text{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    transition: 1s;
}
.arrow_left{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(153, 154, 150, 0.8);
    margin-left: 20px;
    transition: 0.5s;
}
.arrow_left:hover{
    background-color:  black;
}
.arrow_right{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(153, 154, 150, 0.8);
    margin-right: 20px;
    transition: 0.5s;
}
.arrow_right:hover{
    background-color:  black;
}
.arrow_right:before{
    content: "\2192";
    font-size: 40px;
    color: white;
    
}
.arrow_left:before{
    content: "\2190";
    font-size: 40px;
    color: white;
}

.container_first:before {
    
    position: absolute;
    width: 100%;
    height: 200px;
    content: "";
    background: rgb(255, 255, 255);
    top: 700px;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid white;
    transform: skewY(-5deg);
}