.container_second{
    position: relative;
    width: inherit;
    background-color:rgb(255,255,255);
}
.center-first{
    display: flex;
    justify-content: center;
    height: 20px;
}
.text_center{
    text-align: center;
    line-height: 20px;
    opacity: 0;
    transition: 1s;
}
.text_center h3{
    color: rgb(127,127,127);
    letter-spacing:2px;
}
.text_center h2{
    position: relative;
    color: rgb(0,0,0);
    letter-spacing: 0;
    
}
.text_center h2::before{
    position: absolute;
    content: "";
    top: 45px;
    bottom: 0;
    right: 115px;
    left: 115px;
    border-bottom: 2px solid rgb(113,188,66);
  
}
.center-second{
    margin-top: 260px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.content_center_wrap-first{
    display: flex;
    justify-content:space-between;
}
.content_center_wrap-second{
    display: flex;
    justify-content:space-between;
}
.content_block{
    background-color: rgb(255,255,255);
    text-align: center;
    height: 240px;
    width: 240px;
    margin: 20px;
    padding-left: 10px;
    transition: 1s;
}

.content_block p{
    color: rgb(134,134,134);
    letter-spacing: 1px;
    line-height: 25px;
    
}

.flaticon-bar-chart1::before{
    content: url('https://i.ibb.co/3T5t3k3/image.png');
}
.flaticon-bar-chart2::before{
    content: url('https://i.ibb.co/Mnz0JFb/image.png');
}
.flaticon-bar-chart3::before{
    content: url('https://i.ibb.co/pjW8YYR/image.png');
}
.flaticon-bar-chart4::before{
    content: url('https://i.ibb.co/2tXJZyF/image.png');
}
.center-third-flex{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.image_third{
    height: 500px;
    width: 50%;
    background-image: url("../img/hero_3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    transition: 1.5s;
    opacity: 0;
}
.image_three{
    background-image: url("../img/hero_4.jpg");
}
.content_third{
    height: 500px;
    width: 50%;
}
.text_third{
    padding: 50px;
    line-height: 15px;
    opacity: 1;
    text-align: left;
}
.text_third2{
    padding: 0 50px 50px 50px;
}
.text_third2 p{
    line-height: 30px;
    font-size: 18px;
    color: rgb(127,127,127);
}
.text_third h2::before{
    top: 35px;
    bottom: 0;
    right: 520px;
    left: 0px;
}
.hidden_false{
    opacity: 1;
}